@model FinalProject.Models.HomeViewModel

<div>
    <html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>
    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
       <!--Header -->
         <header>
            <h1>Tri-C's New Log-In Page</h1>
        </header>

        <div class="home">

            <p>Content Area</p>

        </div>

        <div class="log-in">
             <p>Please enter your username and password below</p> 
            
         </div>

        <div class="create account">
            <p>Click below to create a new account</p>
            <button class="createAccountButton">Create Account</button>
        </div>

        <footer>
            <h2>Place footer information here</h2>
        </footer>

    </body>

</html>
</div>